<div class="hero-unit">
<div class=WordSection1>

Préambule :<br/>
Le restaurant scolaire est un service municipal, dont la gestion a été
déléguée à une association.<br>
Conformément à la réglementation, la surveillance des enfants et le service
des repas est assurée par des agents municipaux.<br>
L’inscription et la facturation des repas sont assurés par une association de
parents d’élèves bénévoles dénommé « Comité de gestion du restaurant
scolaire de Fleurieu-Sur-Sao</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Avenir;
mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>ne ».<br>
L’association a pour missions la gestion des inscriptions, l’appel des enfants
à 8h30, la commande des repas auprès du prestataire, la facturation et les
encaissements.<br>
Les repas sont fournis par un prestataire selon le cahier des charges défini
par la mairie </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>C’est un
service proposé aux familles qui a un cou</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
Avenir;mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman";mso-fareast-language:EN-GB'>t pour la collectivité (repas,
personnel, entretien, locaux, fluide) et nécessite de la part de chacun un
comportement citoyen.<br>
Le respect strict du présent règlement est une obligation pour les enfants,
leurs parents et les responsables légaux. </span><span style='font-family:
"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Le service
de restauration scolaire a une vocation sociale mais aussi éducative et doit
rester un moment privilégié du temps de l’enfant. Il doit favoriser,
notamment, son autonomie, son apprentissage du gou</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>t, de
l’équilibre alimentaire et développer chez lui des notions de convivialité
et de respect de l’autre, tout en l’éduquant aux règles de la vie en
collectivité. </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Le recours
à la cantine doit e</span><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Avenir;
mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>tre dicté par la nécessité (enfant n’ayant pas
la possibilité de prendre leur repas de midi à leur domicile ou chez une
tierce personne). </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 1 :
Jours et heures de fonctionnement<br>
Le restaurant est ouvert les me</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Avenir;
mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>mes jours que l’école exclusivement, pour le repas
du midi de 11h45 (11h35 maternelle) à 13h45. </span><span style='font-family:
"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 2 :
Conditions d’admission<br>
Les enfants sont admis à partir de 3 ans révolus.<br>
Sont admis, les enfants scolarisés à l’école de Fleurieu-Sur-Sao</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ne, les
enseignants, animateurs, stagiaires et personnel municipal. </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 3 :
Allergies - Traitement médical - Accident<br>
3.1 Allergies : Seuls les enfants ayant des allergies alimentaires graves
définies par un PAI (projet d’accueil individualisé) établi avec le médecin
scolaire, l’école, la mairie et renouvelable chaque année, pourront apporter
un repas préparé par la famille. Une contribution de prise en charge dont le
montant sera fixé par délibération du conseil municipal, pour l’encadrement
des enfants allergiques sera demandée pour chaque enfant reconnu allergique.<br>
En dehors de ce cas aucun enfant ne sera autorisé à apporter son repas à la
cantine.<br>
Les parents devront obligatoirement informer l’ensemble des intervenants
(Mairie, Centre de Loisirs, Comité de Gestion...) des allergies et de la mise
en place du PAI.<br>
3.2 Traitement médical : Il est rappelé aux parents que la loi interdit au
personnel de service de donner tout traitement médicamenteux me</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>me
homéopathique aux enfants.<br>
Aucun enfant n’est autorisé à introduire et à prendre un médicament dans
les locaux du restaurant scolaire.<br>
3.3 Accident : En cas d’accidents bénins, le personnel municipal pourra donner
de petits soins (écorchures, coupures...). Si besoin une fiche de suivi permet
d’informer de l’incident la direction de l’école, la garderie scolaire et les
parents.<br>
En cas de problème plus grave, le personnel municipal contactera les secours
(pompiers / SAMU) ou le médecin le plus proche et préviendra les parents. La
mairie sera avisée dès l’ouverture de ses bureaux ainsi que la direction de
l’école. Dans le cas d’un transfert à l’ho</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
Avenir;mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman";mso-fareast-language:EN-GB'>pital, l’enfant sera accompagné
par une personne responsable.<br>
Il est donc impératif pour les parents de communiquer des coordonnées
téléphoniques à jour et d’informer la mairie de toute modification. </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 4 :
Inscription au restaurant scolaire municipal<br>
Adhésion : L’adhésion à l’association est obligatoire et renouvelable chaque
année scolaire. </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>MAJ févr
2020 </span><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Les parents
qui souhaitent que leurs enfants fréquentent le restaurant scolaire doivent au
préalable faire une demande à la mairie qui transmettra les informations (nom
de l’enfant et adresse mail des parents) à l’association.<br>
L’association communiquera aux parents un identifiant et un mot de passe propre
à chaque famille donnant accès au site internet : </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>http://www.restaurant-scolaire-fleurieu-sur-saone.org/
</span><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Inscriptions
aux repas : A partir du site internet, chaque famille peut inscrire ou
désinscrire son enfant à la cantine. Les inscriptions sont mensuelles. Il est
conseillé d’inscrire son enfant sur le planning annuel.<br>
Les inscriptions sont définitives jusqu’au jour ouvré précédant (hors
vacances scolaires) avant 8h.<br>
Soit le mardi avant 8h pour le jeudi, le vendredi avant 8h pour le lundi et le
vendredi avant 8h la veille des vacances scolaire pour le lundi de la rentrée.
</span><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Aucune
annulation signalée pendant les vacances scolaires pour le jour de la reprise
ne sera prise en compte. </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Deux
exceptions : </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<ul type=disc>
 <li class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt'><span style='font-size:
     10.0pt;font-family:"CenturyGothic",serif;mso-fareast-font-family:"Times New Roman";
     mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>-
     &nbsp;</span><span style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:
     "Times New Roman";mso-bidi-font-family:"Times New Roman";mso-fareast-language:
     EN-GB'>Pour la rentrée de septembre, les inscriptions doivent-e</span><span
     style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
     mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
     style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
     mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>tre
     réalisées avant le 15 aou</span><span style='font-size:10.0pt;
     font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
     Avenir;mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;
     font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
     "Times New Roman";mso-fareast-language:EN-GB'>t. </span><span
     style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
     mso-fareast-language:EN-GB'><o:p></o:p></span></li>
 <li class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt'><span style='font-size:
     10.0pt;font-family:"CenturyGothic",serif;mso-fareast-font-family:"Times New Roman";
     mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>-
     &nbsp;</span><span style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:
     "Times New Roman";mso-bidi-font-family:"Times New Roman";mso-fareast-language:
     EN-GB'>Pour le mois de juin et juillet, les inscriptions doivent-e</span><span
     style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
     mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
     style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
     mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>tre
     réalisées avant le 15 juin. </span><span style='font-family:"Times New Roman",serif;
     mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></li>
</ul>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:36.0pt'><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>Il est possible d’annuler une (ou plusieurs)
inscriptions en respectant les me</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
Avenir;mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman";mso-fareast-language:EN-GB'>mes délais. </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:36.0pt'><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>Si un imprévu de dernière minute ou un oubli
d’inscription sur le planning conduisent néanmoins les parents à devoir
laisser leur enfant à la cantine scolaire, il est impératif de le signaler le
jour me</span><span style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>me avant
8h30, par mail : gestion@restaurant-scolaire-fleurieu-sur-saone.org ou
directement auprès de la personne assurant le pointage du matin à 8h30. Le
repas sera alors facturé au tarif normal avec une majoration de 5 euros pour
raisons pénalisantes de commande tardive. </span><span style='font-family:
"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:36.0pt'><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>En cas d’absence imprévisible (maladie par
exemple), les parents doivent prévenir au plus to</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>t (avant
8h30) par mail : gestion@restaurant-scolaire-fleurieu-sur-saone.org<br>
Le repas du jour sera facturé (repas déjà livré) ainsi que les suivants si
les parents ne procèdent pas aux annulations tel que décrits plus haut. </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:36.0pt'><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>Pour les parents ne pouvant inscrire leur enfant
par internet, les inscriptions peuvent se faire directement auprès des parents
bénévoles le matin à 8h30.<br>
Sorties scolaires : Des pique-niques seront prévus pour l’ensemble des enfants
(les parents doivent prévenir en cas d’allergies). </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:36.0pt'><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>Une fiche de renseignement devra e</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>tre
complétée, au plus tard dans les 8 jours suivant la rentrée de septembre.<br>
Tout changement d’adresse, de situation familiale ou de numéro de téléphone
doit e</span><span style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>tre signalé
sans délai aux services de la mairie par mail :
mairie.fleurieusursaone@wanadoo.fr </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:36.0pt'><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>Conditions d’inscription : la mairie peut toujours
refuser l’inscription d’un enfant dont le comportement est susceptible de
constituer un danger pour lui, pour ses camarades, pour le personnel ou une ge</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ne pour ceux-ci.<br>
En cas d’impayé de l’année précédente, la réinscription est refusée tant
que la dette n’est pas régularisée. </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:36.0pt'><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>ARTICLE 5 : Tarif et paiement des prestations<br>
Le tarif des prestations du restaurant scolaire municipal est fixé par
délibération du Conseil Municipal (décret n° 2006- 753 du 29 juin 2006). Ce
tarif est ré-actualisable chaque année.<br>
Toutes les inscriptions enregistrées sont facturées.<br>
A chaque début de mois, une facture pour le mois écoulé est envoyée par
mail à chaque famille et doit e</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
Avenir;mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman";mso-fareast-language:EN-GB'>tre payée pour le 15 du mois en
cours. La facturation du mois de juillet sera groupée avec le mois de juin et
payable au 30 juin. Non-paiement : Pour toute famille n’ayant pas réglé deux
factures consécutives dans les délais, une majoration de 10% des factures
concernées sera appliquée. Si par la suite, la famille n’a toujours pas
effectué le paiement réclamé, le comité de gestion de la cantine pourra lui
refuser l’accès au restaurant scolaire.<br>
Oubli d’inscription : Majoration du repas de 5 €, pour tout enfant mangeant à
la cantine alors qu’il n’était pas inscrit. </span><span style='font-family:
"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:36.0pt'><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>En cas de difficultés financières, les familles
concernées peuvent se mettre en rapport avec le Centre Communal d’Action
Sociale de la mairie qui examinera chaque situation.<br>
En tout état de cause, le non-respect de ces conditions générales et tout
particulièrement, l’absence de paiement des repas, malgré des rappels sur les
obligations de la famille, pourra entrai</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
Avenir;mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman";mso-fareast-language:EN-GB'>ner</span><span style='font-size:
10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman";mso-ansi-language:FR;mso-fareast-language:EN-GB'> </span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>l’éviction
du service de restauration. </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 6 :
Menus<br>
Les menus sont affichés à l’entrée de l’école et sont disponibles via le
site internet de la mairie.<br>
Pour les parents qui le souhaitent, il est possible de commander des repas sans
viande ou sans porc. Pour se faire, il est nécessaire de choisir le régime
particulier en début d’année scolaire. Ce choix est valable pour l’année
entière. Une seule modification par an pourra e</span><span style='font-size:
10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
Avenir;mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman";mso-fareast-language:EN-GB'>tre acceptée. Toutefois, malgré
la vigilance du personnel, des erreurs restent possibles.<br>
En cas d’allergie alimentaire, l’enfant pourra e</span><span style='font-size:
10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
Avenir;mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;
font-family:Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman";mso-fareast-language:EN-GB'>tre accueilli dans le cadre d’un
P.A.I. (projet d’accueil individualisé).<br>
Les menus sont élaborés par une diététicienne conformément au respect des
règles nutritionnelles et suivant les normes de sécurité et d’hygiène
alimentaire en vigueur.<br>
La commune est particulièrement attentive à la qualité des repas, la
qualité nutritionnelle, organoleptique, la proportion des aliments bio, les
circuits courts, l’origine géographique des denrées et l’absence d’OGM. </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 7 :
Conditions générales de surveillance<br>
Les agents municipaux assurent la surveillance dès la fin des classes (pause
méridienne). Pendant cette période et sous l’entière responsabilité de la
mairie, ils prennent en charge les enfants de l’école maternelle et primaire
présents à l’appel.<br>
7.1 Contro</span><span style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>le des
présences<br>
Un pointage a lieu à 8h30 par l’association des parents. L’appel est effectué
au début de la pause méridienne (11h35/11h45). Lorsqu’un enfant manque à
l’appel alors qu’il était inscrit, l’agent vérifie auprès de l’enseignant
s’il était absent.<br>
Lorsqu’un enfant a répondu présent à l’appel mais a ensuite échappé à la
surveillance des agents municipaux, ces derniers contactent par téléphone les
parents ou amis dont les noms figurent sur le fichier.<br>
Un enfant que personne ne sera venu chercher au plus tard à 11h45 sera
installé à la cantine, et terminera son repas. Le repas sera facturé et
majoré de 5 €. </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>7.2
Autorisation de sortie<br>
Tout enfant inscrit à la cantine ne pourra quitter l’enceinte scolaire, sauf
autorisation, à titre exceptionnelle, expressément accordée sur demande
écrite de la famille en mairie, par mail ou courrier.<br>
7.3 Responsabilités<br>
Tout objet de valeur est interdit.<br>
La mairie décline toute responsabilité en cas de vols, pertes ou
détériorations de ve</span><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Avenir;
mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>tements, bijoux, objets laissés dans les locaux. </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 8 :
Déroulement de la pause méridienne<br>
8.1 Déroulement des repas :<br>
Avant leur départ de l’école ou en arrivant à la cantine, les enfants passent
aux toilettes et se lavent les mains.<br>
Les enfants les plus jeunes commencent par manger à la cantine pendant que les
plus grands profitent d’un temps de récréation encadré par le personnel
communal.<br>
Dans un second temps, les plus grands rentrent à la cantine pendant que les
plus jeunes profitent à leur tour d’un temps de récréation.<br>
Les agents veillent au bon déroulement des repas. Cette surveillance active
mettra l’accent sur l’hygiène, le partage équitable des rations.<br>
Les agents incitent les enfants à observer une attitude et une tenue correcte.
Les repas sont pris dans le calme et non dans le silence.<br>
En se déplac</span><span style='font-size:10.0pt;font-family:Avenir;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Avenir;
mso-fareast-language:EN-GB'>̧</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>ant dans la pièce, ils seront attentifs à
désamorcer les petits conflits qui pourraient dégénérer.<br>
Une aide occasionnelle pourra e</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Avenir;
mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>tre apportée aux plus petits. En maternelle, cette
assistance est de règle.<br>
Les agents incitent les enfants à manger ou à gou</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ter un plat
nouveau. Les enfants devront respecter la nourriture.<br>
8.2 Règles de vie :<br>
Les enfants doivent respecter :<br>
1. Les agents, les consignes données par le personnel encadrant et tenir
compte de leurs remarques, voire de leurs réprimandes<br>
2. La tranquillité de leurs camarades<br>
3. Les locaux, le matériel de restauration, la nourriture, le matériel
ludique et éducatif.<br>
Les enfants doivent se comporter de manière calme et courtoise et doivent
respecter les règles élémentaires de politesse et de bonne conduite.<br>
L’introduction dans la salle de repas d’objets dangereux ou ge</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>nants
(billes, ballons...) est interdite. </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Les parents
devront rappeler à leur(s) enfant(s) les règles de bonne conduite en
collectivité. Il est de leur responsabilité de rappeler le respect normal qui
est du</span><span style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'> à leurs
camarades et au personnel chargé de l’accueil et du service afin de permettre
un déjeuner dans les meilleures conditions.<br>
8.3 Charte de comportement de la cantine </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Pour
responsabiliser les enfants, tout en tenant compte de leur a</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ge, une
charte de comportement a été établie par le personnel d’encadrement en
collaboration avec les enfants avec leurs mots et leurs problématiques. La
charte sera affichée et mise à disposition des parents.<br>
8.4 Récréation </span><span style='font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>Les agents
surveillent en permanence les cours de récréation jusqu’à la fin de la pause
méridienne, heure à laquelle les enseignants reprennent l’entière
responsabilité des enfants. Dans la mesure du possible, cette action de
surveillance est complétée par un encadrement de jeux. </span><span
style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 9 :
Discipline et sanctions<br>
Les comportements portant préjudice à la bonne marche du restaurant scolaire,
les écarts de langage volontaires et répétés feront l’objet de petites
sanctions (changement de table, mise à l’écart momentanée).<br>
Tout comportement irrespectueux, agressif, injurieux envers les autres enfants
ou les adultes, ainsi que des agissements perturbant la vie de groupe, ne
pourront e</span><span style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>tre admis.<br>
Si tel est le cas, un avertissement sera adressé par courrier à la famille
par la mairie, celle-ci demeurant responsable pendant la pause méridienne.<br>
Si le comportement devait se répéter malgré tout, ou en cas d’actes graves,
la mairie pourra décider de l’exclusion temporaire ou définitive de l’enfant
du service de restauration scolaire, après rencontre avec les responsables
légaux sans préavis.<br>
En cas d’exclusion temporaire ou définitive, les repas commandés pour la
semaine en cours seront dus et facturés. Toute dégradation volontaire fera
l’objet d’un remboursement par les parents. Le non-remboursement après relance
par lettre recommandée entrai</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Avenir;
mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>nera l’exclusion définitive.<br>
Afin d’assurer un suivi des incidents rencontrés, un cahier de liaison permet
de transmettre les informations à la mairie Aucune remarque à l’encontre d’un
agent communal ne devra lui e</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Avenir;
mso-fareast-language:EN-GB'>̂</span><span style='font-size:10.0pt;font-family:
Avenir;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-fareast-language:EN-GB'>tre faite directement par les parents. Elle devra e</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Avenir;mso-fareast-language:EN-GB'>̂</span><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>tre
adressée à Monsieur le Maire qui prendra éventuellement les mesures qui
s’imposent. </span><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Avenir;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-fareast-language:EN-GB'>ARTICLE 10 :
Opposabilité<br>
L’inscription au restaurant scolaire vaut acceptation du présent règlement.<br>
Le règlement a été approuvé par délibération du Conseil Municipal du 18
Février 2020.<br>
Il est tenu à la disposition des parents en mairie, sur le site internet de la
Commune ainsi que sur le site d’inscription. </span><span style='font-family:
"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
EN-GB'><o:p></o:p></span></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>
</div>
